<div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 p-4">
        <div class="card mb-3">
          <img id="ingebilabImage" src="assets/ingebilab.png" class="card-img-top" alt="Imagen de proyecto" (click)="onImageClickIngebilab()">
          <div class="card-body">
            <h6 class="card-title justify-content-center text-left">INGEBI LAB</h6>
            <ul class="skills-list">
              <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
              <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
              <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
              <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
              <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
              <li><img src="assets/icons/localstorage.png" alt="Localstorage"> Localstorage</li>
            </ul>
            <div class="container d-flex justify-content-between">
              <button class="btn btn-custom" (click)="ingebilab()">Ver proyecto</button>
              <button class="btn btn-custom" (click)="verCodigoMyLab()">Ver codigo</button>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-4 p-4">
          <div class="card mb-3">
            <img id="todoappImage" src="assets/tasks.png" class="card-img-top" alt="Imagen de proyecto" (click)="onImageClickToDoApp()"> <br><br>
            <div class="card-body">
              <h6 class="card-title justify-content-center text-left">To do app </h6>
              <ul class="skills-list">
                <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
                <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
                <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
                <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
                <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
                <li><img src="assets/icons/localstorage.png" alt="Localstorage"> Localstorage</li>
              </ul>
              <div class="container d-flex justify-content-between">
                <button class="btn btn-custom" (click)="todoapp()">Ver proyecto</button>
                <button class="btn btn-custom" (click)="verCodigoToDoApp()">Ver codigo</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
