.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%; /* Cambiado de 50% a 100% */
  margin-bottom: 20px;
}

/* Media query para móviles */
@media (max-width: 768px) {
  .card {
    margin: 10px 0;
  }

  .card-body {
    padding: 15px;
  }

  .skills-list {
    justify-content: flex-start;
  }

  .skills-list li {
    font-size: 16px;
    margin: 5px;
  }

  .btn-custom {
    padding: 8px 12px;
    font-size: 14px;
  }

  .container.d-flex.justify-content-between {
    flex-direction: column;
    gap: 10px;
  }

  .container.d-flex.justify-content-between .btn-custom {
    width: 100%;
    margin: 5px 0;
  }
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 10px; /* Añadido para mejor espaciado */
}

.container.d-flex.justify-content-between {
  margin-top: auto;
  gap: 10px; /* Añadido para mejor espaciado entre botones */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

.btn-custom {
  background-color: #f8f9fa;
  color: #343a40;
  border: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.btn-custom:hover {
  color: blue;
  background-color: #f8f9fa;
}

.skills-list li {
  margin: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
}

.skills-list img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Estilos para las imágenes y efectos de zoom */
#veterinaria,
#ingebilabImage,
#todoappImage {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.zoomed {
  transform: scale(1.5);
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}

/* Estilos para la sección de contacto */
.contact-info {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info p a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-info p a:hover {
  color: blue;
}

a {
  text-decoration: none;
}

.etiquetap {
  font-weight: bold;
}

.project-description {
  font-size: 14px;
  margin-top: 10px; /* Adjust spacing as needed */
}

/* Media query para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .skills-list li {
    font-size: 14px;
  }

  .skills-list img {
    width: 20px;
    height: 20px;
  }
}
