<div>
  <div class="container p-4">
    <div class="row justify-content-center">

      <div class="col-md-4 p-2">
        <!-- VETERINARIA -->
        <div class="card mb-3">
          <img id="veterinaria" src="assets/corevitstudio.png" class="card-img-top" alt="Imagen de proyecto"> <br><br>
          <div class="card-body">
            <h6 class="card-title justify-content-center text-left">CoreVit Studio</h6>
            <ul class="skills-list">
              <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
              <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
              <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
              <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
              <li><img src="assets/icons/tailwinds.png" alt="Tailwinds"> Tailwinds</li>
              <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
            </ul>

            <div class="project-description">
              <p>Aplicación web <strong>en desarollo</strong>.</p>
            </div>
            <div class="container d-flex justify-content-between">
              <button class="btn btn-custom" (click)="corevit()">Ver proyecto</button>
              <!-- <button class="btn btn-custom" (click)="verCodigoVeterianria()">Ver codigo</button> -->
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 p-2">
        <!-- RESTAURANTE -->
        <div class="card mb-3">
          <img id="veterinaria" src="assets/restaurante.png" class="card-img-top" alt="Imagen de proyecto"> <br><br>
          <div class="card-body">
            <h6 class="card-title justify-content-center text-left">Restaurante</h6>
            <ul class="skills-list">
              <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
              <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
              <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
              <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
              <li><img src="assets/icons/tailwinds.png" alt="Tailwinds"> Tailwinds</li>
              <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
              <li><img src="assets/icons/supabase.png" alt="Supabase"> Supabase</li>
            </ul>

            <div class="project-description">
              <p>Aplicación web completa para gestionar la presencia online de un restaurante.</p>
            </div>

            <div class="container d-flex justify-content-between">
              <button class="btn btn-custom" (click)="restaurante()">Ver proyecto</button>
              <button class="btn btn-custom" (click)="verCodigoRestaurante()">Ver codigo</button>
            </div>
            <p class="mt-10 text-center text-sm/6 text-gray-500 etiquetap">
              Web administrativa
              <a (click)="restauranteAdministrativo()" class="font-semibold text-indigo-600 hover:text-indigo-500">Ingresar</a>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 p-2">
        <!-- VETERINARIA -->
        <div class="card mb-3">
          <img id="veterinaria" src="assets/veterinaria.png" class="card-img-top" alt="Imagen de proyecto"> <br><br>
          <div class="card-body">
            <h6 class="card-title justify-content-center text-left">Gestion de Veterinaria</h6>
            <ul class="skills-list">
              <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
              <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
              <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
              <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
              <li><img src="assets/icons/tailwinds.png" alt="Tailwinds"> Tailwinds</li>
              <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
              <li><img src="assets/icons/supabase.png" alt="Supabase"> Supabase</li>
            </ul>

            <div class="project-description">
              <p>Aplicación web completa para gestionar una veterinaria.</p>
            </div>
            <div class="container d-flex justify-content-between">
              <button class="btn btn-custom" (click)="veterinaria()">Ver proyecto</button>
              <button class="btn btn-custom" (click)="verCodigoVeterianria()">Ver codigo</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- <footer>

  <section class="contact-info">

    <h2>Información de contacto</h2>
    <p>Email: <a href="mailto:almanza.desarrolloweb@gmail.com">almanza.desarrolloweb&#64;gmail.com</a></p>
    <p>Teléfono: <a href="tel:+5491123982541">(+54)91123982541</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/israel-almanza-gonzalez-5b9b3a231" target="_blank">Linkedin</a></p>
    <p>GitHub: <a href="https://github.com/ialmanza?tab=repositories" target="_blank">GitHub</a></p>
  </section>
</footer> -->

<app-footer></app-footer>
