
/* Estilos generales para las tarjetas */
.card {
  border-radius: 10px; /* Redondea las esquinas de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para dar profundidad */
  transition: 0.3s; /* Transición suave para los efectos de hover */
 }

 .card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
 }

 /* Estilos específicos para el título y el texto dentro de la tarjeta */
 .card-title {
  font-size: 1.25rem; /* Ajusta el tamaño del título */
  font-weight: bold; /* Hace el título en negrita */
 }

 .card-text {
  font-size: 1rem; /* Ajusta el tamaño del texto */
  color: #333; /* Cambia el color del texto */
 }

 /* Estilos para el botón dentro de la tarjeta */
 .btn-primary {
  background-color: #007bff; /* Cambia el color de fondo del botón */
  border-color: #007bff; /* Cambia el color del borde del botón */
 }

 .btn-primary:hover {
  background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el mouse */
  border-color: #0056b3; /* Cambia el color del borde del botón al pasar el mouse */
 }

 /* Estilos por defecto */
#ingebilabImage {
  transition: transform 0.3s ease-in-out;
}

/* Estilo cuando la imagen está ampliada */
#ingebilabImage.zoomed {
  transform: scale(1.5); /* Ajusta el valor según sea necesario */
  border: 2px solid #000; /* Opcional: agrega un borde */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Opcional: agrega un efecto de sombra */
}

.btn-custom {
  background-color: #f8f9fa; /* Color de fondo más claro */
  color: #343a40; /* Color del texto */
  border-color:none; /* Color del borde */
  outline: none
}

.btn-custom:hover {

  color: blue;
  outline: none;
  border-color: none;
}


