

  <div class="container intro-text">
    <div>
      <div class="row">
        <div class="col-xs-6 col-md-8">
          <div class="intro-text">
            <div class="intro-heading">

              <div class="custom-heading">Hola, Soy Israel.</div><br>
              <div class="intro-lead-in" style="font-size: 20px;">Desarrollador Web, Buenos Aires, Argentina.</div>

            </div>

          </div>
        </div>

        <div class="avatar col-xs-6 col-md-4 p-4 ">
          <div class="circle-container">
            <img id="principialImage" src="assets/inicio.jpeg" class="circle-image img-fluid" alt="Imagen de proyecto">
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 align-self-center">
          <button type="button" class="btn btn-primary btn-xl text-uppercase" (click)="navegarAProyectos()">
            Mi trabajo
          </button>
        </div>

      </div>

    </div>
 <br><br>

  </div>

  <div class="row skills-section">
    <div class="col-12">
      <h2 class="skills-heading">Habilidades</h2>
      <ul class="skills-list">
        <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
        <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
        <li><img src="assets/icons/javascript.png" alt="JavaScript"> JavaScript</li>
        <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
        <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
        <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
        <li><img src="assets/icons/java.png" alt="Java"> Java</li>
        <li><img src="assets/icons/python.png" alt="Python"> Python</li>
      </ul>
    </div>
  </div>

  <footer>

    <section class="contact-info">

      <h2>Información de contacto</h2>
      <p>Email: <a href="mailto:almanza.desarrolloweb@gmail.com">almanza.desarrolloweb&#64;gmail.com</a></p>
      <p>Teléfono: <a href="tel:+5491123982541">(+54)91123982541</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/israel-almanza-gonzalez-5b9b3a231" target="_blank">Linkedin</a></p>
      <p>GitHub: <a href="https://github.com/ialmanza?tab=repositories" target="_blank">GitHub</a></p>
    </section>
  </footer>




