#ingebilabImage {
  transition: transform 0.3s ease-in-out;
}


#ingebilabImage.zoomed {
  transform: scale(1.5);
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.custom-heading {
  font-family: 'Arial', sans-serif;
  font-size: 75px;
  margin: 70px 0px 30px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.avatar {
  text-align: center;
}

.circle-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.custom-heading {
  font-size: 5vw;
  text-align: left;
}

.intro-lead-in {
  font-size: 3vw;
  text-align: left;
}

.skills-section {
  margin-top: 30px;
}

.skills-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.skills-list li {
  margin: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.skills-list img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
}
.contact-info p {
  margin: 5px 0;
}
.contact-info p a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
