<app-navigation></app-navigation>
<router-outlet></router-outlet>


<footer>

  <section class="contact-info">

    <h2>Información de contacto</h2>
    <p>Email: <a href="mailto:almanza.desarrolloweb@gmail.com">almanza.desarrolloweb&#64;gmail.com</a></p>
    <p>Teléfono: <a href="tel:+5491123982541">(+54)91123982541</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/israel-almanza-gonzalez-5b9b3a231" target="_blank">Linkedin</a></p>
    <p>GitHub: <a href="https://github.com/ialmanza?tab=repositories" target="_blank">GitHub</a></p>
  </section>
</footer>
