
    <div class="container">
        <section class="about-me">

            <p>
                Soy un desarrollador web apasionado con experiencia en tecnologías como HTML, CSS, TypeScript, y Angular. Actualmente estoy en el último año de la carrera de Programación de Computadoras en la Universidad de Belgrano.
            </p>
            <p>

              🚀Poseo experiencia práctica en el desarrollo de soluciones con los lenguajes de programación Python y Java, ampliando mi capacidad para abordar desafíos de manera versátil y creativa en diversos proyectos.

🔧 Mi enfoque se centra en la creación de soluciones innovadoras y eficientes, aprovechando mi experiencia en tecnologías web claves. Mi trayectoria demuestra mi capacidad para enfrentar desafíos, desde proyectos frontend hasta el desarrollo de aplicaciones dinámicas.


🌐 Con un ojo atento a las últimas tendencias en desarrollo web, me esfuerzo por mantenerme actualizado con las tecnologías emergentes. Mi pasión por la programación se combina con un deseo constante de mejorar y aplicar nuevas habilidades para crear experiencias de usuario excepcionales.

A lo largo de mis experiencias laborales anteriores, he cultivado habilidades blandas que complementan de manera integral mi desempeño laboral. Gracias a estas experiencias, he perfeccionado habilidades como la comunicación efectiva, la resolución de problemas y el trabajo en equipo, fortaleciendo mi capacidad para colaborar en entornos dinámicos.

¡Listo para aportar mi experiencia y pasión al desarrollo de software! 🌐
            </p>
        </section>
    </div>
    <div class="row skills-section">
      <div class="col-12">
        <h2 class="skills-heading">Habilidades</h2>
        <ul class="skills-list">
          <li><img src="assets/icons/html.png" alt="HTML"> HTML</li>
          <li><img src="assets/icons/css-3.png" alt="CSS"> CSS</li>
          <li><img src="assets/icons/javascript.png" alt="JavaScript"> JavaScript</li>
          <li><img src="assets/icons/typescript.png" alt="TypeScript"> TypeScript</li>
          <li><img src="assets/icons/bootstrap.png" alt="Bootstrap"> Bootstrap</li>
          <li><img src="assets/icons/angular.png" alt="Angular"> Angular</li>
          <li><img src="assets/icons/java.png" alt="Java"> Java</li>
          <li><img src="assets/icons/python.png" alt="Python"> Python</li>
        </ul>
      </div>
    </div>
