<div class="container p-4 ">
  <div class="row ">
    <div class="col-md-9 mx-auto">
        <div class="card mx-auto">
          <div class="card-body mb-3 ">
            <form (ngSubmit)="sendForm()">
              <div>
                <label for="name">Nombre:</label>
                <input class="form-control" type="text" id="name" [(ngModel)]="formData.name" name="name" required>
              </div>
              <div>
                <label for="email">Correo electrónico:</label>
                <input class="form-control" type="email" id="email" [(ngModel)]="formData.email" name="email" required>
              </div>
              <div>
                <label for="message">Mensaje:</label>
                <textarea class="form-control" id="message" [(ngModel)]="formData.message" name="message" required></textarea>
              </div><br>
              <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div ng-app="myApp" ng-controller="contactController">
  <form ng-submit="submitForm()">
    <div>
      <label for="name">Nombre:</label>
      <input class="form-control" type="text" id="name" ng-model="formData.name" required>
    </div>
    <div>
      <label for="email">Correo electrónico:</label>
      <input class="form-control" type="email" id="email" ng-model="formData.email" required>
    </div>
    <div>
      <label for="message">Mensaje:</label>
      <textarea class="form-control" id="message" ng-model="formData.message" required></textarea>
    </div>

    <input class="form-control" type="hidden" ng-model="formData.recipientEmail" value="tudirecciondecorreo@example.com">
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
</div> -->

